*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom Properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;
}
